.working-cy h3{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    color: white;
}

.working-cy-components{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}
.working-cy-components-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 60px;
    transition: transform .5s;
}
.working-cy-components-div:hover{
    transform: scale(1.2);
}
.working-cy-components-div p{
    color: #000;
    text-align: center;
    margin-top: 35px;
    font-size: 21px;
    width: 300px;
    color: white;
}
.working-cy-components-div img{
    width: 100px;
}