.footer-body {
  background-color: #3a5f69;
}

.text {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.footer-content {
  column-gap: 90px;
}

.footer-heading {
  color: #a6c8d8;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-links {
  color: white;
  padding-top: 5px;
}

.list-items {
  padding-left: 20px;
}

.footer-content-links {
  color: #a6c8d8;
}
.footersocial-media-links {
  display: flex;
  align-items: center;
}
.footersocial-media-links span{
    
    margin-left: 10px;
}
.footer-content-links:hover {
  color: white;
}
.footer-alignment {
  justify-content: center;
  align-items: center;
}

.footer-contact-media-links{
  display: flex;
  align-items: center;
}
.footer-contact-media-links span{
  margin-left: 10px;
}